.skillsRoot {
  flex-grow: 1;
  background-image: url("../../assets/images/backgrounds/colorado3.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link {
  text-decoration: none !important;
}

.buttonDarkRoot {
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .skillsRoot {
    background-image: url("../../assets/images/backgrounds/diagonal_striped_brick.png");
    background-size: auto;
    background-repeat: repeat;
  }

  .buttonDarkRoot {
    background-color: rgba(33, 33, 33, 0.8);
    height: auto;
    padding: 16px;
    border-radius: 10px;
  }
}