.aboutRoot {
  flex-grow: 1;
  background-image: url("../../assets/images/backgrounds/colorado2.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  color: azure;
  margin-bottom: 40px;
}

.mePic {
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 30px;
  width: 15%;
  padding: 12px 8px;
  margin: 0px 20px 30px 20px;
}

.mainContent {
  width: 60%;
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.introP {
  font-weight: bold;
  font-size: 1.1em;
}

.thanks {
  font-weight: bolder;
  color: #ff5722;
}

.link {
  text-decoration: none !important;
}

.buttonDarkRoot {
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .mainContainer {
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .mePic {
    width: 28%;
    margin: 0px;
  }

  .middle {
    width: 65%;
  }
  
  .mainContent {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .aboutRoot {
    background-image: url("../../assets/images/backgrounds/diagonal_striped_brick.png");
    background-size: auto;
    background-repeat: repeat;
  }

  .buttonDarkRoot {
    background-color: rgba(33, 33, 33, 0.8);
    height: auto;
    padding: 16px;
    border-radius: 10px;
  }

  .mainContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .middle {
    width: 90%;
  }

  .mainContent {
    width: 100%;
    background-color: rgba(33, 33, 33, 0.8);
  }

  .mePic {
    width: 70%;
    margin-bottom: 30px;
    background-color: rgba(33, 33, 33, 0.8);
  }
  
  .mainContent p {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}