.aboutRoot {
  flex-grow: 1;
  background-image: url("../../assets/images/colorado2.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: row;
  width: 65%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  color: azure;
  margin-bottom: 40px;
}

.mePic {
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  width: 15%;
  padding: 12px 6px;
  margin: 0px 20px 30px 20px;
}

.mainContent {
  width: 60%;
  background-color: rgba(33, 33, 33, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.introP {
  font-weight: bold;
  font-size: 1.1em;
}

.thanks {
  font-weight: bolder;
  color: #ff5722;
}

.link {
  text-decoration: none !important;
}