.projectsWrap {
  flex-grow: 1;
  width: 100%;
  background-image: url("../../assets/images/backgrounds/colorado4.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrap {
  width: 70%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.tabsRoot {
  background-color: rgba(33, 33, 33, 0.7) !important;
  border-radius: 10px !important;
  padding: 0px 10px !important;
  box-shadow: none !important;
}

.indTab {
  color: azure !important;
}

.indTabActive {
  color: #ff5251 !important;
}

.indTab span, .indTabActive span {
  font-size: 16px;
}

.link {
  text-decoration: none;
}

.stackGrid {
  margin-top: 16px;
}

@media (max-width: 500px) {
  .projectsWrap {
    background-size: cover;
  }

  .contentWrap {
    width: 90%;
  }

  .indTab span, .indTabActive span {
    font-size: 1em;
  }
}