.projectsWrap {
  flex-grow: 1;
  width: 100%;
  background-image: url("../../assets/images/backgrounds/colorado4.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrap {
  width: 70%;
  flex-grow: 1;
}

.tabsRoot {
  background-color: rgba(33, 33, 33, 0.5) !important;
  border-radius: 10px !important;
  padding: 0px 10px !important;
  box-shadow: none !important;
}

.indTabs {
  font-weight: bold !important;
  font-size: 1.1em !important;
}

.stackGrid {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
}

.stackGrid p {
  text-align: center;
  border: 1px solid pink;
}