.headerRoot {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212121;
  color: #FFFFFF;
  box-sizing: border-box;
  border-bottom: 4px solid #64d8cb;
  padding: 0 20px;
  z-index: 90;
}

.headerContent {
  margin: auto;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerRoot nav {
  height: 100%;
}

.desktopNav {
  width: 100%;
}

.smallScreenDisplay {
  width: 94%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 499px) {
  .desktopNav {
    display: none;
  }
}

@media (min-width: 499px) {
  .smallScreenDisplay {
    display: none;
  }
}