.Button {
  background-color: transparent;
  border: 3px solid azure;
  border-radius: 10px;
  color: azure;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.Button .arrowIcon {
  transition: 0.8s;
  color: azure;
}

.Button:hover {
  background-color: rgba(33, 33, 33, 0.5);
  color: #ff5722;
  border: 3px solid azure;
}

.Button:hover .arrowIcon {
  transition: 0.8s;
  color: #ff5722;
  transform: rotate(90deg);
}

.buttonP {
  margin: 10px 0px 10px 10px;  
}

.arrowIcon {
  font-size: 1.5em !important;
}