.skillBlockRoot {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 14px 8px;
}

.picDiv {
  margin-top: 10px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picWidth {
  max-width: 100px;
}

@media (max-width: 500px) {
  .skillBlockRoot {
    height: 100px;
  }

  .picDiv {
    min-height: 70px;
  }

  .picWidth {
    max-width: 70px;
  }
}
